<section>
  <%= render "shared/user", user: @user %>
  <div class="bio border-black">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <% @recent_posts.each do |post| %>
      <%= link_to user_post_path(user_id: post.author.id, id: post.id), class: "post" do %>
        <%= render "shared/post", post: post %>
      <% end %>
    <% end %>
  </div>
  <button type="button" class="btn"><%= link_to "See all posts", user_posts_path(@user)  %></button>
  <button type="button" class="btn"><%= link_to "Create a post", new_user_post_path(@user)  %></button>
</section>